@charset "UTF-8";
.header {          /* 要素の配置を相対座標に指定 */
  width: 100%;                  /* 要素の幅を100% */
  height: 0;                    /* 要素の高さを0% */
  padding-bottom: 100%;         /* 内余白の下部分を100% */
  position: relative;
  background:url(../img/header/mentu.jpg) no-repeat center center/cover; /* 背景画像を領域を埋めるように、中央に配置 */
}
@media print , screen and (min-width:768px) {
  .header{
    height:400px;
    padding-bottom: 0;
  }
}
.wrapper{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
}
.logo{
  width: 60px;
  padding: 10px;
  background: #fff;
  position: absolute;
  top: 0;
  left:20px;
}
@media print , screen and (min-width:768px) {
  .logo{
    width: 90px;
    padding: 1px;
    left: 40px;
  }
}
.catch-copy,.page-title {
  text-align: center;
  width: 100%;
  color: #fff;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 6vw;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@media print , screen and (min-width:768px) {
  .catch-copy,page-title{
    font-size: 50px
  }
}

.catch-copy span,.page-title span{
  border-bottom: 3px solid #fff;
  padding-bottom: 4px;
}

.heading02{
  text-align: center;/*文字を中央ぞろえに*/
  font-size: 20px;  /*文字の大きさの指定*/
  font-weight: bold;/*文字を太字に*/
  color: #000;　　　/*文字のカラーの指定*/
  font-family: "MS 明朝";
  margin-bottom: 5px;/*下部分の外余白を20pxに*/
}

.heading02 span {
  border-bottom: 3px solid #000; /* 下部分の罫線を 3px、実線、黒色に */
  padding-bottom: 1px;           /* 下部分の余白を 4pxに */
}

.lead{
padding: 30px 0;
}

.btn{
  display: block;/* 表示形式をブロックに */
  text-align: center;/* 文字を中央ぞろえに */
  width: 100px;/*要素の横幅を200px*/
  margin:auto;/*要素の外余白を0に左右は、自動で合わせて、下の余白を60px*/
  border: 2px solid #000;/* 下部分の罫線を2px、実線、黒色に*/　
  text-decoration: none;/* 文字の装飾を無し */
  padding:0 auto 0;/* 要素の内余白を上に13px左右０下に１2px とる*/
  font-weight: bold;/* 文字を太字 */
}
@media print, screen and (min-width: 768px) {
  .btn {
    width: 200px;                /* 要素の横幅を400pxに */
    padding: 5px 0;             /* 要素の内余白を上下20、左右0に */
    font-size: 20px;             /* 文字サイズを14pxに */
  }
}
.footer {             /*class="fotter"の要素の指定*/
  padding: 15px 10px;/*内余白を上下15px、左右10pxに*/
}
@media print , screen and (min-width:768px) {
  .footer {
    padding: 30px 10px;
  }
}
.copy {
  text-align: center;            /* 文字を中央揃えに */
  font-size: 1.0rem;             /* 文字サイズを1remに */
}
.img-link-wrap{
  margin-bottom:40px;
  }

.img-link a{
  display: block;
  position: relative;
  z-index: 1;
}

.img-link a .heading02 {
  color: #fff;
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;                       /* 左部分を基準点から0の位置に */
  -webkit-transform: translate(0, -50%); /* 要素の位置を50%分だけ上に */
  transform: translate(0, -50%);
  margin-bottom: 0;
}

.img-link a .heading02 span {
  border-color: #fff;            /* 罫線を白色に */
}

.img-link a img {
  display: block;                /* 表示形式をブロックに */
}
